In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
titles_df =  pd.read_csv('data/ImdbTitleBasics.csv', low_memory = True)
#names_df =  pd.read_csv('ImdbTitleCrew.csv')
#names_df =  pd.read_csv('ImdbTitleRatings.csv')

In [5]:
names_df =  pd.read_csv('data/ImdbName.csv')
principals_df =  pd.read_csv('data/ImdbTitlePrincipals.csv')

In [12]:
titles_df.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [13]:
names_df.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0050419,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0077975,tt0072562,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050976,tt0050986,tt0060827"

In [14]:
principals_df.head(5)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [7]:
principals_df.merge(titles_df, left_on='tconst', right_on='tconst').merge(names_df, 
                                                                          left_on= 'nconst', right_on='nconst')

,tconst,ordering,nconst,category,job,characters,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,2,nm0005690,director,\N,\N,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
1,tt0000005,3,nm0005690,director,\N,\N,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
2,tt0000006,1,nm0005690,director,\N,\N,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
3,tt0000007,3,nm0005690,director,\N,\N,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport",William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
4,tt0000008,2,nm0005690,director,\N,\N,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short",William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994506,tt0123370,10,nm0848344,actor,\N,"[""Tetra Chedi Tushar""]",movie,Return of Robin Hood,Aaj Ka Robin Hood,0,1988,\N,80,Drama,Ritesh Talwar,\N,\N,actor,"tt2854934,tt0123370,tt0230139"
994507,tt0123370,8,nm0883926,actor,\N,"[""Ramkishan Ram Jadhav""]",movie,Return of Robin Hood,Aaj Ka Robin Hood,0,1988,\N,80,Drama,Master Ravi,\N,\N,"actor,miscellaneous","tt0086711,tt0079584,tt0271174,tt0214841"
994508,tt0123371,5,nm0101521,director,\N,\N,movie,Aberration,Aberration,0,1997,\N,93,"Horror,Sci-Fi",Tim Boxell,\N,\N,"director,writer,miscellaneous","tt0086197,tt0091129,tt0114857,tt0123371"
994509,tt0123371,6,nm0506712,writer,\N,\N,movie,Aberration,Aberration,0,1997,\N,93,"Horror,Sci-Fi",Scott Lew,1968,2017,"writer,producer,director","tt0123371,tt0454987,tt0281432,tt0421045"
994510,tt0123371,7,nm0653607,writer,\N,\N,movie,Aberration,Aberration,0,1997,\N,93,"Horror,Sci-Fi",Darrin Oura,\N,\N,writer,tt0123371

# Resumen estadístico por género, escritores y principales

* primero por cada variable (estadistica, graficas si aplican, Ej. Genero por año)
* Luego relacionar (Escritores-genero) (Genero-princiaples)

resumen...
Conteos, separando por variables.
Modas...

starYear.
movies per year... Mean...
PROBAR LAS DOS, POR AÑO O DECADA

buscar relaciones....

visualizar... 
Predecir...segun valores... variables categoricas releabor
seaborn!!!***

QUE ES MAS INTUITIVO!!!

ver coorelaciones... anomalias....
patrones... 


preguntas a responder!!.... 
pachocamacho@gmail.com

mostrar de la manera mas intuitiva posible.


exploratorio feature... 


* Merge and take a simple or
* Make a simple of the main (principals) and merge

* remove tconst and nconst? or use as index?

* Known for titles, contar


* resume columns and delete if apply