# 1 Million movies

For sure we will discover some interesting facts about this huge industry. In this work analize data from IMDb about movies from 1888 to 2023 with around 1 million of movies.

Special thanks to Komal Khetlani by compile and upload this amazing dataset. All the CSV files can be viewed in [https://www.kaggle.com/komalkhetlani/imdb-dataset]

This list contain the stages of the project. Be free to give some advice, recommendation or idea related to de project.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

Loading data

In [2]:
titles_df =  pd.read_csv('/work/data/ImdbTitleBasics.csv', low_memory = True)
#names_df =  pd.read_csv('ImdbTitleCrew.csv')
#names_df =  pd.read_csv('ImdbTitleRatings.csv')

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
names_df =  pd.read_csv('/work/data/ImdbName.csv')
principals_df =  pd.read_csv('/work/data/ImdbTitlePrincipals.csv')

See first columns

In [4]:
titles_df.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
names_df.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0050419,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0077975,tt0072562,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050976,tt0050986,tt0060827"

In [6]:
principals_df.head(5)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

Merging the data around principals DF.

In [7]:
df = principals_df.merge(titles_df, left_on='tconst', right_on='tconst').merge(names_df, 
                                                                          left_on= 'nconst', right_on='nconst')

Taking a sample to improve speed of first test.

In [8]:
df = df.sample(n=1000)

In [9]:
df.head()

,tconst,ordering,nconst,category,job,characters,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
769449,tt0078309,1,nm0717068,actor,\N,\N,tvMovie,Das Spiel,Das Spiel,0,1978,\N,\N,\N,Lutz Reichert,1951,\N,actor,"tt0806910,tt0108985,tt0103582,tt0090447"
842775,tt0105845,4,nm0461918,actor,\N,"[""Big Mouth""]",movie,Wu hu si hai,Wu hu si hai,0,1992,\N,90,"Action,Crime,Thriller",Blackie Shou-Liang Ko,1953,2003,"actor,stunts,director","tt0105845,tt0368813,tt0091431,tt0067009"
969004,tt0112598,1,nm0954128,director,\N,\N,short,Burgenland 1945 - Historische Spurensuche,Burgenland 1945 - Historische Spurensuche,0,1995,\N,32,Short,Herbert Zechmeister,\N,\N,"production_manager,director,writer","tt0112598,tt0114686,tt0144061,tt0390500"
701758,tt0074454,3,nm0078525,actor,\N,"[""Billy B. Westerby""]",movie,Eat My Dust!,Eat My Dust,0,1976,\N,89,"Action,Comedy,Romance",Brad David,1947,\N,"actor,writer","tt0080319,tt0086567,tt0074454,tt0069840"
419583,tt0055994,4,nm0214748,archive_footage,\N,"[""Archduchess Sophie""]",movie,Forever My Love,Forever My Love,0,1962,\N,148,"Drama,Romance",Vilma Degischer,1911,1992,actress,"tt0056907,tt0050974,tt0049762,tt0048624"

Describe all data to give an overview of the data.

Observations:
- Wrong type of many variables
- A lot of NA values

Useful data: (To improve after data cleaning)
- 11 types of category in a movie (Actor, writer ...) and 52 diferents jobs in the filmaker industry.
- 8 types of films (Movie, short ...)

In [10]:
df.describe(include='all')

,tconst,ordering,nconst,category,job,characters,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
count,1000,1000.00000,1000,1000,1000,1000,1000,1000,1000,1000.000000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,999,NaN,987,11,57,460,7,996,998,NaN,100,23,133,220,987,127,103,276,987
top,tt0041302,NaN,nm0730018,actor,\N,\N,movie,Tomorrow Is Too Late,Bodas de sangre,NaN,1995,\N,\N,Drama,Hal Roach,\N,\N,actor,"tt0032871,tt0014429,tt0179522,tt0249631"
freq,2,NaN,3,318,826,530,768,2,2,NaN,28,967,105,162,3,174,412,129,3
mean,NaN,5.16400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.93389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,3.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,8.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,10.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We were focusing on the main information, due this reason we delete some columns: characters (role in the movie) and primaryTitle (we will work with original title).

In [11]:
df = df.drop(['characters','primaryTitle'], axis=1)

# Not defined values

In the previous head commands we see a lot of \N values. This values need to be converted to NAN values in order to clean the data.

In [12]:
df['endYear'].describe()

count     1000
unique      23
top         \N
freq       967
Name: endYear, dtype: object

Verifing the fact that \N is nota a null value.

In [13]:
df['endYear'].isnull().sum()

0

Replacing all \N for nan values

In [14]:
df = df.replace("\\N", np.nan)

Now we have almost all the sample (1000 registers). With a null value, because the majority of the dataset are movies that only have startYear value.

In [15]:
df['endYear'].isnull().sum()

967

Now take a look about how many values are null per column

In [16]:
df.isnull().sum()

tconst                 0
ordering               0
nconst                 0
category               0
job                  826
titleType              0
originalTitle          0
isAdult                0
startYear              0
endYear              967
runtimeMinutes       105
genres                54
primaryName            0
birthYear            174
deathYear            412
primaryProfession      0
knownForTitles         0
dtype: int64

Three columns have more than 50% of null values. Let see some of this registers.

In [17]:
df['job'].head(20)

769449               NaN
842775               NaN
969004               NaN
701758               NaN
419583               NaN
462996               NaN
526575               NaN
1096      original story
724035               NaN
611036               NaN
858120               NaN
990561               NaN
869868               NaN
752808             story
181641               NaN
897209               NaN
216571               NaN
615022               NaN
966323               NaN
543162               NaN
Name: job, dtype: object

Jobs contain an special role in the production of the movie. This isn't an important information in this stage. So we delete this columns.

In [18]:
df = df.drop(['job'], axis=1)

Primary proffesion is a list of professions of the persons. It's an interesting information but is beyond the scope of the first stage. We will work with the Category column that contain the role of the person in the movie.

In [19]:
df = df.drop(['primaryProfession'], axis=1)

End year column has 96.9% of the sample as null values, lets take a look of these registers

In [20]:
df[df['endYear'].notnull()]

,tconst,ordering,nconst,category,titleType,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,knownForTitles
724035,tt0088508,7,nm0453447,actor,tvSeries,Double Dare,0,1985,1985,60,Drama,Evan C. Kim,1953,NaN,"tt0082146,tt0085106,tt0094963,tt0076257"
475347,tt0120978,7,nm0395443,actor,tvSeries,The Kit Curran Radio Show,0,1984,1984,24,Comedy,John Horsley,1920,2014,"tt0044637,tt0073990,tt0124218,tt0329369"
620055,tt0083464,9,nm0546004,actress,tvSeries,The Phoenix,0,1981,1982,60,Sci-Fi,Andrea Marcovicci,1948,NaN,"tt7043012,tt0086346,tt0078740,tt0074554"
729364,tt0076045,9,nm0695909,producer,tvSeries,The Fosdyke Saga,0,1977,1983,15,Comedy,Tara Prem,1946,NaN,"tt0259806,tt0088102,tt0165592,tt0175708"
772807,tt0103466,2,nm0001787,actor,tvSeries,The Larry Sanders Show,0,1992,1998,30,Comedy,Jeffrey Tambor,1944,NaN,"tt3502262,tt0170016,tt0367279,tt4686844"
965347,tt0118453,10,nm0157915,actor,tvMiniSeries,Rough Riders,0,1997,1997,240,"Action,Drama,History",Nick Chinlund,1961,NaN,"tt0118880,tt0296572,tt0139654,tt0314353"
735440,tt0120928,7,nm0788332,actor,tvMiniSeries,The Big Battalions,0,1992,1992,360,Drama,Michael Shannon,1943,NaN,"tt1077368,tt1486192,tt0081573,tt0091419"
734331,tt0073961,5,nm0833688,actor,tvSeries,Baa Baa Black Sheep,0,1976,1978,60,"Action,Adventure,Drama",W.K. Stratton,1950,NaN,"tt0455407,tt0452625,tt0465602,tt0985694"
628976,tt0069430,7,nm0460319,cinematographer,tvSeries,Trtan,0,1973,1973,170,"Comedy,Family",Berndt Klyvare,1929,2008,"tt0069430,tt5330430,tt9496134,tt0062191"
933837,tt0103451,3,nm0123268,actor,tvSeries,The Jon Stewart Show,0,1993,1995,30,"Comedy,Talk-Show",Carl Burrows,NaN,NaN,"tt2081178,tt0385841,tt0126916,tt0852975"
945067,tt0118456,1,nm0072673,actress,tvSeries,Secret Service Guy,0,1996,1996,NaN,NaN,Wendy Benson-Landes,1971,NaN,"tt0410975,tt1126591,tt0120211,tt0120524"
784980,tt0092351,8,nm0809321,actor,tvSeries,Filthy Rich & Catflap,0,1987,1987,204,Comedy,Mel Smith,1952,2013,"tt0080253,tt0093779,tt0103872,tt0089670"
723696,tt0072511,1,nm0538704,actor,tvSeries,Himitsu sentai Gorenj,0,1975,1977,30,"Action,Adventure,Sci-Fi",Naoya Makoto,1948,NaN,"tt1984162,tt4143220,tt0072511,tt1869453"
953672,tt0115202,7,nm0667937,writer,tvSeries,High Incident,0,1996,1997,60,"Crime,Drama",Michael Pavone,NaN,NaN,"tt0112656,tt1792543,tt1606180,tt0455275"
644884,tt0078643,4,nm0000589,actress,tvMiniSeries,Little Women,0,1978,1978,194,"Drama,Family,Romance",Eve Plumb,1958,NaN,"tt2359024,tt9278110,tt1595859,tt5037914"
821646,tt0086773,8,nm0731716,actor,tvSeries,One by One,0,1984,1987,50,"Comedy,Drama",Andrew Robertson,1941,NaN,"tt0159900,tt0106084,tt0094439,tt0056751"
821988,tt0085104,4,nm0870328,actress,tvSeries,Two Marriages,0,1983,1984,60,Drama,Tiffany Toyoshima,NaN,NaN,"tt0085207,tt0085104"
584115,tt0057744,5,nm0001123,self,tvSeries,The Entertainers,0,1964,1965,60,"Comedy,Music",Dom DeLuise,1933,2009,"tt0096787,tt0071230,tt0084649,tt0082136"
554773,tt0061260,3,nm0083424,actor,tvSeries,Harry Worth,0,1966,1970,30,Comedy,Norman Bird,1924,2005,"tt0061204,tt0077869,tt0054731,tt0054518"
691631,tt0070988,5,nm0190960,writer,tvSeries,Firehouse,0,1974,1974,30,Adventure,Frank Cucci,1935,1989,"tt0068592,tt0075475,tt0070988,tt0089365"
847786,tt0088610,7,nm0779656,actor,tvSeries,Small Wonder,0,1985,1989,30,"Comedy,Family,Sci-Fi",Paul C. Scott,NaN,NaN,"tt0111892,tt0088610,tt0087291,tt0088470"
796620,tt0094569,9,nm0816868,actor,tvMiniSeries,To som elsker hinanden,0,1988,1988,NaN,NaN,Sren Spanning,1951,2020,"tt1276419,tt1514717,tt1526318,tt1802183"
805742,tt0085050,8,nm0113525,actor,tvSeries,Mama's Family,0,1983,1990,30,Comedy,Eric Brown,1964,NaN,"tt0083470,tt0076999,tt0085050,tt0096426"
478242,tt0078679,2,nm0511964,actress,tvSeries,The Ropers,0,1979,1980,30,Comedy,Audra Lindley,1918,1997,"tt0075596,tt0120004,tt0114576,tt0089015"
398765,tt0044277,4,nm0319557,actor,tvSeries,Mr. & Mrs. North,0,1952,1954,30,"Comedy,Drama,Mystery",Lowell Gilmore,1906,1960,"tt0037988,tt0045039,tt0040166,tt0043072"
805271,tt0115118,9,nm0251646,actor,tvSeries,Bruno the Kid,0,1996,1997,NaN,"Action,Adventure,Animation",Paul Eiding,1957,NaN,"tt0092106,tt0180825,tt0249008,tt0760437"
820876,tt0084990,3,nm0326679,actor,tvSeries,Brass Monkeys,0,1984,1984,23,Comedy,Kevin Golsby,1935,NaN,"tt1119176,tt0119870,tt0071282,tt0078637"
687228,tt0086705,7,nm0422713,actress,tvMiniSeries,Ellis Island,0,1984,1984,420,"Drama,History",Ann Jillian,1950,NaN,"tt0054649,tt0085970,tt0084289,tt0056048"
758725,tt0076995,10,nm0064168,actress,tvSeries,City Lights,0,1984,1991,30,Comedy,Louise Beattie,1964,NaN,"tt0096700,tt0108772,tt0204773,tt0287276"
840689,tt0089500,3,nm0412382,actress,tvMiniSeries,The Long Hot Summer,0,1985,1985,200,"Drama,Romance",Judith Ivey,1951,NaN,"tt0118971,tt0119535,tt0134618,tt0418689"
687185,tt0068128,10,nm0686861,actor,tvSeries,Sanford and Son,0,1972,1977,30,Comedy,Howard Platt,1938,NaN,"tt0117500,tt0113987,tt0070909,tt0068128"
791694,tt0081033,5,nm0378619,actor,tvMiniSeries,The Last Outlaw,0,1980,1980,100,"Biography,Crime,Drama",Ric Herbert,NaN,NaN,"tt0360717,tt0120595,tt0110678,tt0082614"
723625,tt0083416,7,nm0398253,actor,tvSeries,A Fine Romance,0,1981,1984,30,"Comedy,Romance",Karl Howman,1952,NaN,"tt0071059,tt1300349,tt0103496,tt0088512"

We will keep this register for future use.

In the other hand, we have around ~10% of runtimeMinutes as null and some register are not classifying with generes. We will drop these registers to let only usefull information in these columns.

In [21]:
df = df[df['runtimeMinutes'].notnull()]
df = df[df['genres'].notnull()]

In [22]:
df.isnull().sum()

tconst              0
ordering            0
nconst              0
category            0
titleType           0
originalTitle       0
isAdult             0
startYear           0
endYear           836
runtimeMinutes      0
genres              0
primaryName         0
birthYear         145
deathYear         360
knownForTitles      0
dtype: int64

Trying to detect types:
Some issues with dates and numbers.

In [23]:
df = df.convert_dtypes()

In [24]:
df.dtypes

tconst            string
ordering           Int64
nconst            string
category          string
titleType         string
originalTitle     string
isAdult            Int64
startYear         object
endYear           string
runtimeMinutes    string
genres            string
primaryName       string
birthYear         string
deathYear         string
knownForTitles    string
dtype: object

In [28]:
df.head()

,tconst,ordering,nconst,category,titleType,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,knownForTitles
842775,tt0105845,4,nm0461918,actor,movie,Wu hu si hai,0,1992,<NA>,90,"Action,Crime,Thriller",Blackie Shou-Liang Ko,1953,2003,"tt0105845,tt0368813,tt0091431,tt0067009"
969004,tt0112598,1,nm0954128,director,short,Burgenland 1945 - Historische Spurensuche,0,1995,<NA>,32,Short,Herbert Zechmeister,<NA>,<NA>,"tt0112598,tt0114686,tt0144061,tt0390500"
701758,tt0074454,3,nm0078525,actor,movie,Eat My Dust,0,1976,<NA>,89,"Action,Comedy,Romance",Brad David,1947,<NA>,"tt0080319,tt0086567,tt0074454,tt0069840"
419583,tt0055994,4,nm0214748,archive_footage,movie,Forever My Love,0,1962,<NA>,148,"Drama,Romance",Vilma Degischer,1911,1992,"tt0056907,tt0050974,tt0049762,tt0048624"
462996,tt0059884,3,nm0863146,actor,movie,Voyna i mir I: Andrey Bolkonskiy,0,1965,<NA>,147,"Drama,War",Vyacheslav Tikhonov,1928,2009,"tt0061162,tt0063794,tt0062456,tt0062907"

Observations:

- Category and titleType can ve converted to a Categorical variable.
- isAdullt can be converted to boolean.
- startYear and endYear, birthYear and deathYear need to be converted to datetime
- runtimeMinutes to Uint

Finally, genres need to be splited and converted to a categorical variable.

In [25]:
df.describe(include='all')

,tconst,ordering,nconst,category,titleType,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,knownForTitles
count,866,866.000000,866,866,866,866,866.000000,866,30,866,866,866,721,506,866
unique,865,NaN,858,11,7,864,NaN,97,20,130,214,858,119,98,858
top,tt0041302,NaN,nm0730018,actor,movie,Bodas de sangre,NaN,1994,1984,90,Drama,Hal Roach,1929,1977,"tt0032871,tt0014429,tt0179522,tt0249631"
freq,2,NaN,3,265,680,2,NaN,25,5,47,144,3,18,16,3
mean,NaN,5.198614,NaN,NaN,NaN,NaN,0.006928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.922869,NaN,NaN,NaN,NaN,0.082996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,3.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,8.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,10.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.head()

,tconst,ordering,nconst,category,titleType,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,knownForTitles
842775,tt0105845,4,nm0461918,actor,movie,Wu hu si hai,0,1992,<NA>,90,"Action,Crime,Thriller",Blackie Shou-Liang Ko,1953,2003,"tt0105845,tt0368813,tt0091431,tt0067009"
969004,tt0112598,1,nm0954128,director,short,Burgenland 1945 - Historische Spurensuche,0,1995,<NA>,32,Short,Herbert Zechmeister,<NA>,<NA>,"tt0112598,tt0114686,tt0144061,tt0390500"
701758,tt0074454,3,nm0078525,actor,movie,Eat My Dust,0,1976,<NA>,89,"Action,Comedy,Romance",Brad David,1947,<NA>,"tt0080319,tt0086567,tt0074454,tt0069840"
419583,tt0055994,4,nm0214748,archive_footage,movie,Forever My Love,0,1962,<NA>,148,"Drama,Romance",Vilma Degischer,1911,1992,"tt0056907,tt0050974,tt0049762,tt0048624"
462996,tt0059884,3,nm0863146,actor,movie,Voyna i mir I: Andrey Bolkonskiy,0,1965,<NA>,147,"Drama,War",Vyacheslav Tikhonov,1928,2009,"tt0061162,tt0063794,tt0062456,tt0062907"

In [27]:
df.value_counts(['category'])

category
actor                  265
actress                150
writer                 125
director               100
cinematographer         67
composer                49
producer                43
editor                  42
production_designer     11
self                    10
archive_footage          4
dtype: int64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=ae595caa-7ee7-464e-a512-6077c518652b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>